<div class='container postDiv'>
  <div class='row'>
    <div class='textPostDiv col-md-12 col-xs-12 col-s-12'>
      <h2 class='mid'>Add a New Activity!</h2>
    </div>
  </div>
  <div class='row newRow'>
    <form ng-submit="submitPost()">
      <div class='textPostDiv col-md-2 col-xs-12 col-s-12'>
        <h3>Author: {{author_name}}</h3>
        <img class='img-responsive center-block' src="{{author_picture}}">
      </div>
      <div class='textPostDiv col-md-5 col-xs-12 col-s-12'>
        <div class='row'>
          <div class='form-group textPostDiv col-md-12 col-xs-12 col-s-12'>
            <label for="postTitle">Title</label>
            <br>
            <input class='form-control' type="text" name="postTitle" ng-model="postTitle">
          </div>
        </div>
        <div class='row'>
          <div class='textPostDiv form-group col-md-12 col-xs-12 col-s-12'>
            <label for="locationOfActivity">Location</label>
            <br>
            <input class='form-control' type="text" name="locationOfActivity" ng-model="locationOfActivity">
          </div>
        </div>
        <div class='row'>
          <div class='form-group textPostDiv col-md-12 col-xs-12 col-s-12'>
            <label for="childName">Child's Name</label>
            <br>
            <input class='form-control' type="text" name="childName" ng-model="childName">
          </div>
        </div>
        <div class='row'>
          <div class='form-group textPostDiv col-md-12 col-xs-12 col-s-12'>
            <label for="description">Description</label>
            <br>
            <textarea rows='4' class='form-control' type="text" name="description" ng-model="description"></textarea>
          </div>
        </div>
      </div>
      <div class='textPostDiv form-group hoursDiv col-md-2 col-xs-12 col-s-12'>
        <label for="hours">Hours of Activity</label>
        <br>
        <input type='number' name= "hours" ng-model="hours"  placeholder='0' class='form-control hours'>
      </div>
      <div class='textPostDiv col-md-3 col-xs-12 col-s-12'>
        <h3>Photo Uploader</h3>
        <input type = "file" value = "Browse...">
      </div>
    </div>
    <div class='row'>
      <div class='textPostDiv form-group col-md-12 col-xs-12 col-s-12'>
        <button type="submit" class='btn btn-primary' name="addPostButton">Add Post</button>
      </form>
      </div>
    </div>
  </div>
</div>
