body{
    background-image: url("../img/full-slider/full-slide1.jpg");
    background-size: cover;
    background-attachment: fixed, scroll;
}

.slider_caption{
  position: absolute;
  left: 0;
  right: 0;
  top: 10%;
  bottom: 0;
}

.slides-container{
  height: 100vh;
}

#slides{
  height: 100vh;
}

.slideImg{
  height: 100vh;
}

.slider_area{
  height: 100vh;
}


.postDiv{
  background-color: rgba(255, 255, 255, 0.8);
  margin: 0 auto;
  width: 70vw;
  clear: both;
  margin-top: 170px;
  padding: 20px;
  border-radius: 5px;
}

.postDivProfile{
  background-color: rgba(255, 255, 255, 0.7);
  margin: 0 auto;
  width: 70vw;
  clear: both;
  margin-top: 20px;
  padding: 20px;
  border-radius: 5px;
}

.signDiv{
  background-color: rgba(255, 255, 255, 0.8);
  margin: 0 auto;
  width: 70vw;
  clear: both;
  margin-top: 170px;
  padding: 20px;
  border-radius: 5px;
}

.textPostDiv{
  text-align: center;
}

.postName{
  font-weight: bold;
  width: 95%;
  text-align: left;
}

.postName h3{
  font-size: 2em;
}


.pointsDiv h2{
  font-size: 6em;
}

.pointsDiv p {
  font-size: 1.5em;
}

.commentDiv p{
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: blue;
  width: 350px;
  height: 175px;
}

.bob{
  background-color: rgba(78,160,197,.8);
  text-align: center;
  margin-top: 10px;
}


.textPostDiv h3{
  margin-top: 0;
}


.pointCenter{
  text-align: center;
  position: relative;
  vertical-align: middle;
}

.pointVert h2{
  margin-top: 40%;
  margin-bottom: 60%;
}

.pointVert p{
  margin-top: -60px;
}

/*.pointVert{
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}*/


.activityPic{
  vertical-align: middle;
}

.row{
  margin: 10px;
}

.2{
  vertical-align: middle;
}

.progressBar{
  width: 90%;
  height: 25px;
  background-color: lightgray;
  box-shadow: inset 2px 2px 8px rgba(0,0,0,.2);
}

.progress-bar{
  background-color: #4ea0c5;
  width: 75%;
}

.progressDiv{
  text-align: center;
}

.facebookButton{
  background-color: #4ea0c5;
  height: 70px;
  border-radius: 10px;
  width: 90%;
  min-width: 240px;
  margin: 0 auto;
  padding: 10px;
  transition-duration: .5s;
}

.facebookButton:hover{
  background-color: #3d5b96;
}


.facebookButton span{
  color: white;
  font-weight: 300;
  margin-left: 10px;
  vertical-align: middle;
  display: inline;
}

.facebookIcon{
  height: 50px;
  vertical-align: middle;
  transition: .5s;
}

.facebookButton:hover .facebookIcon{
  height: 52px;
}

.descriptionDiv{
  text-align: center;
}

.newUserDiv{
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
}

.center{
  margin: 0 auto;
  width: 70vw;
}

.mid{
  vertical-align: middle;
  text-align: center;
}

.newInput{
  width: 100%
}

.hours{
  text-align: center;
  font-size: 5em;
  height: 100%;
  margin: 0 auto;
}

.hoursDiv{
  margin-top: 37px;
  text-align: center;
}

.newRow{
  margin-top: 30px;
}

.btn-primary{
  background-color: #4ea0c5;
  transition: .5s;
}

.profilePoints{
  text-align: center;
}

.profilePoints h2{
  margin-top: 25px;
  font-size: 7em;
}

.white{
  color: white;
  margin-top: 20px;
}
