.slider_caption{
  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
  bottom: 0;
}

.slides-container{
  height: 100vh;

}

#slides{
  height: 100vh;
}

.slideImg{
  height: 100vh;
}

.slider_area{
  height: 100vh;
}

header{
  height: 100vh;
  background-image: url("../img/full-slider/full-slide1.jpg");
  background-size: cover;
  background-position: center;

}

.postDiv{
  background-color: rgba(255, 255, 255, 0.7);
  height: 50vh;
  margin: 0 auto;
  padding: 30px;
  width: 70vw;
}

.imgDiv{
  float: left;
  /*display: inline-block;*/
}
.imgDiv img{
  margin-right: 50px;
}

.postName{
  font-weight: bold;
  /*float: left;*/
  width: 95%;
  text-align: left;
  /*display:inline-block;*/
}

.postName h3{
  font-size: 2em;
}

.pointsDiv{
  width: 10%;
  margin-top: 40px;
  text-align: center;
  margin-left: 55px;
}

.pointsDiv h2{
  font-size: 6em;
}

.pointsDiv p {
  font-size: 1.5em;
  margin-left: -8px;
}

.commentDiv p{
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: blue;
  width: 350px;
  height: 175px;
}

.bob{
  background-color: rgba(0,0,0,.3);
  width: 350px;
  height: 175px;
  position: absolute;
  bottom: 42px;
  right: 30px;
  text-align: center;
}
.bobby{
  margin-top: 10%;

}
