body{
    background-image: url("../img/full-slider/full-slide1.jpg");
    background-size: cover;
    background-attachment: fixed, scroll;
}

.slider_caption{
  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
  bottom: 0;
}

.slides-container{
  height: 100vh;
}

#slides{
  height: 100vh;
}

.slideImg{
  height: 100vh;
}

.slider_area{
  height: 100vh;
}


.postDiv{
  background-color: rgba(255, 255, 255, 0.7);
  margin: 0 auto;
  width: 70vw;
  clear: both;
  margin-top: 140px;
}


.postName{
  font-weight: bold;
  width: 95%;
  text-align: left;
}

.postName h3{
  font-size: 2em;
}


.pointsDiv h2{
  font-size: 6em;
}

.pointsDiv p {
  font-size: 1.5em;
}

.commentDiv p{
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: blue;
  width: 350px;
  height: 175px;
}

.bob{
  background-color: rgba(0,0,0,.3);
  text-align: center;
}


.textPostDiv h3{
  margin-top: 20px;
}


.pointCenter{
  text-align: center;
  position: relative;
  vertical-align: middle;
}

.pointVert h2{
vertical-align: middle;
}

.activityPic{
  vertical-align: middle;
}

.row{
  margin: 10px;
}
