body{
    background-image: url("../img/full-slider/full-slide1.jpg");
    background-size: cover;
    background-attachment: fixed, scroll;
}

.slider_caption{
  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
  bottom: 0;
}

.slides-container{
  height: 100vh;
}

#slides{
  height: 100vh;
}

.slideImg{
  height: 100vh;
}

.slider_area{
  height: 100vh;
}


.postDiv{
  background-color: rgba(255, 255, 255, 0.8);
  margin: 0 auto;
  width: 70vw;
  clear: both;
  margin-top: 170px;
  padding: 20px;
}


.postName{
  font-weight: bold;
  width: 95%;
  text-align: left;
}

.postName h3{
  font-size: 2em;
}


.pointsDiv h2{
  font-size: 6em;
}

.pointsDiv p {
  font-size: 1.5em;
}

.commentDiv p{
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: blue;
  width: 350px;
  height: 175px;
}

.bob{
  background-color: rgba(0,0,0,.3);
  text-align: center;
}


.textPostDiv h3{
  margin-top: 0;
}


.pointCenter{
  text-align: center;
  position: relative;
  vertical-align: middle;
}

.pointVert h2{
  margin-top: 40%;
  margin-bottom: 60%;
}

.pointVert p{
  margin-top: -60px;
}

/*.pointVert{
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}*/


.activityPic{
  vertical-align: middle;
}

.row{
  margin: 10px;
}

.2{
  vertical-align: middle;
}

.progressBar{
  width: 90%;
  height: 25px;
  background-color: lightgray;
  box-shadow: inset 2px 2px 8px rgba(0,0,0,.2);
}

.progress-bar{
  background-color: #4ea0c5;
  width: 75%;
}

.progressDiv{
  text-align: center;
}
