<div class='container postDiv'>
  <div class='row'>
    <div class='textPostDiv col-md-12 col-xs-12 col-s-12'>
      <h2>About Us:</h2>
    </div>
  </div>
  <div class='row'>
    <div class='textPostDiv col-md-12 col-xs-12 col-s-12'>
      <h4>We wanted to create an outlet for parents and their kids to track, maintain and encourage outdoor activities.</h4>
      <h4>We believe if you share your activities, then other families can be encouraged to do similar forms of action. </h4> 
      <h4>Our ultimate goal is to encourage outdoor activity in children.</h4>
    </div>
  </div>
</div>
