<div class='signDiv container'>
  <div class='row'>
    <div class='descriptionDiv col-md-3 col-xs-12 col-s-12'>
      <h3>Parents:</h3>
      <h4>Share and discover activities for kids</h4>
    </div>
    <div class='descriptionDiv col-md-3 col-xs-12 col-s-12'>
      <h3>Set your goal:</h3>
      <h4>Collect points by playing outside</h4>
    </div>
    <div class='descriptionDiv col-md-3 col-xs-12 col-s-12'>
      <h3>1 Hour of Outdoor Play:</h3>
      <h3>1 point</h3>
    </div>
    <div class='descriptionDiv col-md-3 col-xs-12 col-s-12'>
      <h2>Play On!</h2>
    </div>
  </div>
</div>
<br>
<div class='container center'>
  <div class='row'>
    <div class='newUserDiv col-md-5 col-xs-12 col-s-12'>
      <h3>New Users</h3>
      <h4>Click the button below to connect Active4Life to your Facebook profile</h4>
      <div class='facebookButton'>
        <img src="/img/facebook.png" class='facebookIcon'>
          <span>Connect with Facebook</span>
      </div>
    </div>
    <div class='col-md-2'></div>
    <div class='newUserDiv col-md-5 col-xs-12 col-s-12'>
      <h3>Existing Users</h3>
      <h4>Click the button below to sign in to Active4Life using Facebook</h4>
      <div class='facebookButton'>
        <img src="/img/facebook.png" class='facebookIcon'>
          <span>Sign in with Facebook</span>
      </div>
    </div>
  </div>
</div>
