<div class='postDiv'>
  <div class='descriptionDiv'>
    <p>This is a website where parents can share and discover activities for their children.</p>
    <p>By doing so, you accumulate points towards an annual goal.</p>
    <p>1 hours of outdoor play = 1 point.</p>
    <p>Annual goal is <b>100 points</b>.</p>
    <h3>Play on!</h3>
  </div>
  <br>
  <h4>New users, click the button below to connect Active4Life to your Facebook profile</h4>
  <div class='facebookButton'>
    <img src="/img/facebook.png" class='facebookIcon'>
    <span>Connect with Facebook</span>
  </div>
</div>
