
<div class="formHolder">

 <form class="" action="/post" method="post" ng-submit="addPost()">
   <p>Author: {{user.name}}</p>
   <label for="postTitle">Post Title</label>
   <input type="text" name="postTitle" ng-model="postTitle">
   <label for="locationOfActivity">Location of Activity</label>
   <input type="text" name="locationOfActivity" ng-model="locationOfActivity">
   <label for="childName">Child Name</label>
   <input type="text" name="childName" ng-model="childName">
   <p>Picture Upload Placeholder</p>
   <label for="description">Description</label>
   <input type="text" name="description" ng-model="description">
   <label for="hours">Hours of Activity</label>
   <select name= "hours" ng-model="hours">
     <option value="0">0</option>
     <option value="1">1</option>
     <option value="2">2</option>
     <option value="3">3</option>
     <option value="4">4</option>
     <option value="5">5</option>
     <option value="6">6</option>
     <option value="7">7</option>
     <option value="8">8</option>
   </select>
   <button type="submit" name="addPostButton">Add Post</button>
 </form>
</div>
