<div class="slider_caption postDiv">
  <div>
    <div class='imgDiv'>
      <img src="http://placehold.it/150x150">
      <div class='pointsDiv'>
        <h2>2</h2>
        <p>points</p>
      </div>
    </div>
    <div class='postName'>
      <h3>Tony McKendry</h3>
      <p>March 12th, 2016</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
      <br>
      <img class='activityPic' src="http://placehold.it/350x175">
      <div class='bob'><p class='bobby'>There aren't any comments yet!</p></div>
    </div>
  </div>
</div>
